## Backup {{ backup_status }}
Host: {{ hostname }}

Periodicity: {{ periodicity }}

Started at: {{ start_time }}

Finished at: {{ finished_time }}

Duration: {{ backup_time }}

* * *

## Job details

{% for job in jobs %}
### Job {{ job.id }}
Started at: {{ job.start_time }}

Finished at: {{ job.finished_time }}

Duration: {{ job.duration }}

Status: {{ job.status }}

Command:

<div style="max-width:600px;max-height:600px;overflow:auto;overflow-y:auto;width:100%">
<pre><code>{{ job.command }}</code></pre>
</div>


<details>
<summary>Log output</summary>

<div style="max-width:600px;max-height:600px;overflow:auto;overflow-y:auto;width:100%">
<pre><code>{{ job.output }}</code></pre>
</div>
</details>


{% endfor %}
